/* кнопка
акцент серый background: #F5F4FA;
border-radius: 4px;  */



:root {
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;

  --primary-text-color: #212121;
  --text-description-color: #757575;

  --hero-background: #2F303A
  --primary-background: #e5e5e5
  --secondary-background-grey: #f5f4fa;
  
  --mail-phone-footer: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.header-list,
.header-group,
.section-list,
.address-list {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--accent-color);
}
.logo-header {
  color: #000000;
}

.logo-footer {
  color: var(--primary-white-color);
}
/* site nav */
.header-link {
  color: var(--primary-text-color);
}
.header-contact {
  color: var(--text-description-color);
}

.logo-header:hover,
.logo-header:focus,
.logo-footer:hover,
.logo-footer:focus,
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
.header-list .header-link.current {
  color: var(--accent-color);
}

/* footer */
.address-footer {
  color: var(--primary-white-color);
}
.footer-contact {
  color: var(--mail-phone-footer);
}
.address-footer:hover,
.address-footer:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/* section */
.section-uppertitle,
.section-title {
  color: var(--primary-text-color);
}
.section-description {
  color: var(--text-description-color);
}

/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-grey);
}
